.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand {
  position: absolute;
  bottom: 50%;
  /* 중심점에서 시작하도록 설정 */
  background-color: black;
  transform-origin: bottom;
  transition: transform 0.5s cubic-bezier(0.4, 2.3, 0.3, 1);
  /* 부드러운 회전을 위한 트랜지션 */
  will-change: transform;
  /* 애니메이션 최적화 */
}

.hour {
  width: 6px;
  height: 50px;
  /* 시침은 가장 짧음 */
  background-color: #000000;
}

.minute {
  width: 4px;
  height: 70px;
  /* 분침은 중간 길이 */
  background-color: #000000;
}

.second {
  width: 2px;
  height: 90px;
  /* 초침은 가장 길고, 빨간색으로 설정 가능 */
  background-color: red;
}

.tooltip {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}
